.container__sidebar {
  width: 35%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  background: center bottom / cover no-repeat
    url(../../assets/images/bg-sidebar-desktop.svg);
  border-radius: 1rem;
  padding: 2rem 2rem 1rem;
}

.sidebar__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.btn__number {
  display: grid;
  place-items: center;
  border: 1px solid var(--white);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: var(--white);
}

.btn__info {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: start;
}

.btn__info span {
  font-size: 10px;
  color: var(--cool-gray);
}

.btn__info p {
  font-size: 10px;
  color: var(--white);
}

.sidebar__btn:hover .btn__number {
  background-color: var(--pastel-blue);
  color: var(--marine-blue);
  transition: 300ms ease-in-out;
}

.btn--active .btn__number {
  background-color: var(--pastel-blue);
  color: var(--marine-blue);
  transition: 300ms ease-in-out;
}

@media (width < 768px) {
  .container__sidebar {
    background: center / cover no-repeat
      url('../../assets/images/bg-sidebar-mobile.svg');
    width: 100%;
    max-width: none;
    border-radius: 0px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    height: 160px;
  }
  .btn__info {
    display: none;
  }
}
